{% extends 'base.html' %}
{% load static %}


{% block conteudo %}
{% if user.is_authenticated %}
        <center><h3>Olá, {{user.username}}!</h3></center>

    {% else %}
        <center><h5>Você precisa está logado com a sua conta, para solicitar o prêmio.</h5></center>
    {% endif %}

{%include 'parciais/_messages.html'%}

<center>

{% if user.is_authenticated %}
        <h4>Preencha o formulário para receber seu prêmio!<h4>

        <form method="POST" class="table" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </form>

        </center>
    {% endif %}
{% endblock %}